/*
1200px
992px
768px
576px
------------------------------------------
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/

/*
  color: rgb(21, 82, 99);   -- Bluw
  color: rgb(255, 111, 60); -- Orange
  color: rgb(255, 154, 60); -- light Orange
  color: rgb(255, 201, 60); -- Yellow
*/

/* 1201px and more —  Extra large screens, TV */
@media screen and (min-width: 1201px)
{
    .menu{
        margin-right: 0px !important;
    }
}
/* 1025px — 1200px: Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px)
{
    .container{
        width: 90%;
    }
    .menu{
        margin-right: 0px !important;
    }
    /******* Biography *******/
    .bio-text__desc{
        margin-bottom: 20px;
    }
    /******* Skills *******/
    .skill-pack{
        height: fit-content;
        align-self:baseline;
    }
    .skill-pack__title{
        font-size: 25px;
    }
    .skill-pack__list{
        padding: 5px;
        margin-bottom: 0px;
    }
    .skill-pack__list-items{
        margin-bottom: 20px;
    }
    /******* Contact *******/
    .contact-logo{
        flex-basis: 40%;
    }
    .contact-text{
        flex-basis: 50%;
    }
    .fa-2x{
        font-size: 2rem !important;
    }
    /******* Footer *******/
    .footer h4{
        margin: 15px 0px;
        font-size: large;
    }
}


/* 769px — 1024px: Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px)
{
    .container{
        width: 90%;
    }
    /******* NAV *******/
    .nav-list{
        display: block;
    }
    .fa-times{
        padding: 0px;
    }
    .menu{
        display: block;
        position: fixed;
        height: 100%;
        width: 140px;
        top: 0px;
        right: 0;
        margin-right: -145px;
        background-color: var(--Fourth-Color);
        transition: 0.3s all;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); */
    }
    .menu-list{
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin: 0px;
        font-weight: bold;
    }
    .list-item{
        padding: 15px 0px;
        border-bottom: 2px solid var(--Third-Color);
        width: 100%;
        text-align: center;
    }
    .item-link{
        color: var(--Second-Color); 
    }
    .item-link:hover{
        padding-bottom: 10px;
        border-bottom: none;
        transition: none;
    }
    .menu i{
        color: var(--Second-Color); 
    }
    #Theme{
        color: var(--Second-Color); 
    }
    .hide-btn{
        display: block;
    }
    .item-link-Active{
        background-color: var(--Fourth-Color);
        color: var(--Second-Color); 
    }
    /******* Biography *******/
    .bio-text{
        display: flex;
        flex-direction: column;
    }
    .bio-text__title{
        align-items: center;
    }
    .bio-text__desc{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .bio-text__link{
        font-size: 15px;
        text-align: center;
    }
    /******* Skills *******/

    .skill-pack{
        flex-basis: 22%;
    }
    .skill-pack__title{
        font-size: 21px;
    }
    .skill-pack__list{
        padding: 5px;
        margin-bottom: 0px;
    }
    .skill-pack__list-items{
        margin-bottom: 20px;
    }
    /******* Certificate *******/
    .Certificates{
        flex-basis: 55%;
    }
    .cert-logo{
        flex-basis: 35%;
    }
    .certificate-pack__title{
        text-align: center;
    }
    /******* Contact *******/
    #contact-container{
        width: 80% !important;
    }
    .contact-logo{
        flex-basis: 35%;
        align-content: center;
    }
    .contact-text{
        flex-basis: 50%;
        font-size: 12px;
    }
    .fa-2x{
        font-size: 1.5rem !important;
    }
    .contact-text__link{
        font-size: 17px;
        text-align: center;
    }
    .Email{
        font-size: 14px !important;
    }
    /******* Footer *******/
    .footer{
        margin-top: 20px;
    }
    .footer h4{
        margin: 10px 0px;
        font-size: 14px;
    }
}


/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px)
{
    .container{
        width: 90%;
    }
    /******* NAV *******/
    .nav-list{
        display: block;
    }
    .fa-times{
        padding: 0px;
    }
    .menu{
        display: block;
        position: fixed;
        height: 100%;
        width: 140px;
        top: 0px;
        right: 0;
        margin-right: -145px;
        background-color: var(--Fourth-Color);
        transition: 0.3s all;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); */
    }
    .menu-list{
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin: 0px;
        font-weight: bold;
    }
    .list-item{
        padding: 15px 0px;
        border-bottom: 2px solid var(--Third-Color);
        width: 100%;
        text-align: center;
    }
    .item-link:hover{
        padding-bottom: 10px;
        border-bottom: none;
        transition: none;
    }
    .hide-btn{
        display: block;
    }
    .item-link-Active{
        color: var(--Second-Color); 
    }    
    .menu i{
        color: var(--Second-Color); 
    }
    .item-link{
        color: var(--Second-Color); 
    }
    #Theme{
        color: var(--Second-Color); 
    }
    /******* Biography *******/
    .Biograpgy{
        flex-direction: column;
        align-items: center;
    }
    .bio-text{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .bio-pic{
        width: 90%;
    }
    .bio-pic__pic{
        border-radius: 10px;
    }
    .bio-text__title{
        margin-top: 0px;
        align-self: center;
    }
    .bio-text__desc{
        font-size: 17px;
        margin-bottom: 10px;
        padding: 0px 10px;
    }
    .bio-text__link{
        display: none;
    }
    /******* Skills *******/

    .skill{
        flex-wrap: wrap;
    }
    .skill-pack{
        flex-basis: 30%;
        margin-bottom: 25px;
    }
    .skill-pack__title{
        font-size: 18px;
    }
    .skill-pack__list{
        padding: 5px;
        margin-bottom: 0px;
    }
    .skill-pack__list-items{
        font-size: 17px;
        margin-bottom: 10px;
    }
    /******* Certificate *******/
    .Box{
        display: flex;
        flex-direction: column;
    }
    .Certificates{
        min-height: 250px;
        margin-bottom: 30px;
    }
    .cert-logo{
        align-self: center;
        width: 60%;
    }
    .certificate-pack__title{
        text-align: center;
    }
    /******* Contact *******/
    .contact{
        display: flex;
        flex-direction: column;
    }
    #contact-container{
        width: 80% !important;
    }
    .contact-logo{
        width: 55%;
        align-self: center;
        margin-bottom: 20px;
    }
    .contact-text{
        width: 100%;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .contact-text__link{
        font-size: 17px;
        display: flex;
        justify-content:space-evenly;
    }
    .fa-2x{
        font-size: 1.5rem !important;
    }
    .Email{
        font-size: 14px !important;
    }
    /******* Footer *******/
    .footer{
        margin-top: 20px;
    }
    .footer h4{
        margin: 8px 0px;
        font-size: 12px;
    }
}
/* 320px — 480px: Mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px)
{
    .container{
        width: 95%;
    }
    .h1-title{
        font-size: 25px;
    }
    .TopHeader{
        width: 100%;
    }
    .icon{
        font-size: 13px;
        margin: 0px 0px 0px 15px;
    }
    /******* NAV *******/
    .nav-list{
        display: block;
    }
    .fa-times{
        padding: 0px;
    }
    .menu{
        display: block;
        position: fixed;
        height: 100%;
        width: 140px;
        top: 0px;
        right: 0;
        margin-right: -145px;
        background-color: var(--Fourth-Color);
        transition: 0.3s all;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); */
    }
    .menu-list{
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin: 0px;
        font-weight: bold;
    }
    .list-item{
        padding: 15px 0px;
        border-bottom: 2px solid var(--Third-Color);
        width: 100%;
        text-align: center;
    }
    .item-link:hover{
        padding-bottom: 10px;
        border-bottom: none;
        transition: none;
    }
    .item-link{
        color: var(--Second-Color); 
    }
    .hide-btn{
        display: block;
    }
    .item-link-Active{
        color: var(--Second-Color); 
    }
    .menu i{
        color: var(--Second-Color); 
    }
    #Theme{
        color: var(--Second-Color); 
    }
    /******* Biography *******/
    .Biograpgy{
        flex-direction: column;
        align-items: center;
    }
    .bio-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    .bio-pic{
        width: 90%;
    }
    .bio-pic__pic{
        border-radius: 10px;
    }
    .bio-text__title{
        margin-top: 0px;
        align-self: center;
        margin: 0px;
    }
    .bio-text__desc{
        font-size: 17px;
        margin-bottom: 10px;
        padding: 0px 10px;
    }
    .bio-text__link{
        display: none;
    }
    /******* Skills *******/
    .splitter{
        margin: 20px auto;
    }
    .skill-pack{
        flex-basis: 45%;
        margin-bottom: 25px;
    }
    .skill-pack__title{
        font-size: 17px;
    }
    .skill-pack__list{
        padding: 5px;
        margin-bottom: 0px;
    }
    .skill-pack__list-items{
        font-size: 14px;
        margin:0px;
    }
    /******* Certificate *******/
    .Box{
        display: flex;
        flex-direction: column;
    }
    .Certificates{
        min-height: 250px;
        margin-bottom: 30px;
    }
    .cert-logo{
        align-self: center;
        width: 75%;
    }
    .certificate-pack__title{
        text-align: center;
        font-size: 17px;
    }
    .certificate-pack__desc{
        font-size: 14px;
        margin-right: 10px;
    }
    /******* Contact *******/
    #contact-container{
        width: 100% !important;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-bottom: 0px;
    }
    .contact{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .contact-logo{
        width: 60%;
        align-self: center;
        margin: 20px 0px;
    }
    .contact-text{
        width: 100%;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .contact-text__link{
        font-size: 15px;
        display: flex;
        justify-content:space-evenly;
    }
    .fa-2x{
        font-size: 1.5rem !important;
    }
    .Email{
        font-size: 13px !important;
    }
    /******* Footer *******/
    .footer{
        margin-top: 0px;
    }
    .footer h4{
        margin: 8px 0px;
        font-size: 12px;
    }
}